@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Roboto+Mono:wght@200;300;400;500;600&family=Staatliches&display=swap");

:root {
  --mintGreen: rgb(170, 240, 209);
  --200-black: rgb(200, 200, 200);
}

* {
  margin: 0;
  padding: 0;
  color: rgb(240, 240, 240);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: 100vh; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app {
  /* color: white; */
  background: rgb(10, 10, 10);
  background: rgb(20, 20, 20);
  background: black;
}
.banner {
  color: white;
  color: lightYellow;
  background: rgb(40, 40, 40);
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  letter-spacing: 0.08rem;
}
.button {
  height: 2.4rem;
  border: none;
  box-shadow: none;
}
.button:hover {
  cursor: pointer;
}

.center {
  display: grid;
  place-items: center;
}

.error-header {
  font-size: 6rem;
}

.error-message {
  font-size: 1.8rem;
  color: var(--mintGreen);
}
.error-page {
  background: rgb(20, 20, 20);
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

.page-height {
  min-height: 80vh;
}
.toast {
  background: white;
  color: blue;
  z-index: 5;
}

.stripe-button {
  background: var(--mintGreen);
  color: black;
  font-weight: bold;
  margin-top: 1.8rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 2.6rem;
  border-radius: 4%;
}
